.vertical-space {
    margin-top: 75px;
    margin-bottom: 75px;
    --inner-border-width:0px;
}
.center {
    width:100%;
    text-align: center;
}
.title {
    text-align: center;
}
ion-back-button {
    display: block;
  }